SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


/* 标签 */
QLabel#settingLabel {
    font: 30px 'Segoe UI SemiBold', 'Microsoft YaHei SemiBold';
    background-color: transparent;
    color: white;
}

